.divider {
    height: 5px;
    width: 50%;
    margin: auto;
    margin-bottom: 5vh;
    background: #4285F4;
    border-radius: 100px;
}



.footer {
    background: #ededed;
}

.Landing__address {
    color: #b1b1b1;
}

.Landing__address h4 {
    color: black;
}

@media only screen and (max-width: 600px) {

    .Landing__address {
        font-size: 80%;
    }

    .Landing__address h4 {
        font-size: 100%;
    }
}