.nonTechTeam {
    border-radius: 20px !important;
}

.Lead__div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lead__image {
    margin: 20px;
    margin-left: 10px;
}

.lead__image img {
    border-radius: 50%;
}

.tech_team {
    width: 100%;
    min-height: 61.5vw;
    height: 100%;
}
.tech_team h3{
    padding-top: 35%;
    margin-left: -20px;
}

.team_members {
    border-radius: 50%;
    width: 7vw;
}

.team_member_wrapper{
    padding: 3%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.appDevelopers_wrapper{
    margin-top: 5vw;
    margin-left: 15px;
    overflow: auto;
}

.team_title {
    position: absolute;
    right: 15vw;
}



@media only screen and (max-width: 600px) {
    .team_member_wrapper{
        padding: 0 3%;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
    }
    .team_member_wrapper p {
        font-size: 70%;
    }
    .appDevelopers_wrapper{
        margin-top: 45px;
    }
    .tech_team h3{
        padding-top: 35%;
        margin-left: -60px;
    }
    .team_title {
        position: absolute;
        right: 12vw;
        max-width: 100px;
    }
    .team_title h3 {
        font-size: 100%;
    }
    .team_members {
        border-radius: 50%;
        width: 15vw;
    }
   
    .lead__image img {
        border-radius: 50%;
        width: 70%;
    }
    .non_tech p {
        font-size: 80%;
    }
}

.img1 {
    background-image: url('../../assets/Path111.svg');
}
.img2 {
    background-image: url('../../assets/Path12.svg');
}
.img3 {
    background-image: url('../../assets/Path13.svg');
}
.img4 {
    background-image: url('../../assets/Path14.svg');
}

