.overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../Backgrounds/resources.png");
  background-size: cover;
  background-position: center;
  height: 40vh;
  color: white;
}

.search {
  width: 100%;
  margin: 5vh 5vw;
  border-radius: 25px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  padding-left: 1rem;
}

.search-bar {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-wrap: wrap;
}

.search-icon {
  width: 1.5rem;
  font-size: 2.1rem;
  margin-right: -1px;
  color: #495057;
  line-height: 2.5rem;
}

.resources-page .search-bar > .form-control:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.resources-page .search-bar > .form-control {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  margin-bottom: 0;
  border: none;
  margin-left: 0.5rem;
  padding: 0.375rem 0.75rem;
  border-radius: 25px;
}

.resources-page .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1.1rem;
  line-height: 2;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.resources-page .form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.resources-page input {
  overflow: visible;
}

.resources {
  margin: 0 5vw 5vh 5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.resource {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  margin: 2vh 1vw;
  max-height: 500px;
  max-width: 300px;
  overflow: hidden;
}

.resource img {
  width: 100%;

  height: 150px;
  object-fit: cover;
}

.resource-content {
  margin: 1rem 0;
  padding: 0 1rem;
  overflow: auto;
}

.resource-poster {
  width: 100%;
}
.resource .resource-content {
  max-height: 300px;
}

.resource-content > h2 {
  margin-bottom: 1rem;
}

.resource-content > p {
  text-align: justify;
}

.resources .btn {
  margin-top: 1rem;
  min-width: 150px;
  border-radius: 20px;
  transition: 0.2s;
}

.resources .btn:hover {
  transform: scale(1.05);
}

.img-fluid {
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-decoration: none;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-rounded {
  border-radius: 5%;
}

.resources-modal {
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.resources-modal-inner {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
  padding: 3vh 3vw;
  border-radius: 5px;
}

.resources-modal-inner img {
  max-width: 600px;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .resources-modal-inner {
    padding: 0 0 3vh 0;
  }

  .resources-modal-inner img {
    max-width: 768px;
    width: 100%;
  }
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  color: white;
  background-color: red;
  width: 2rem;
  height: 2rem;
  border: 0;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 5px;
  border-radius: 5px;
}

.close:hover {
  cursor: pointer;
}
