.about_head
{

    font-family: "Lucida Console";
    font-size: 35px
}

.cont_body
{
    padding: 2%
}

.inp
{
    border-radius: 20px
}

::placeholder
{
    color:red
}

.form_body
{
    padding: 0% 15%
}

button{
    border-radius: 20px !important;
    width: 100%;
}

hr
{
    border: 1px solid blue;
}

