:root {
  --blue: #4285f4;
  --red: #db4437;
  --yellow: #f4b400;
  --green: #0f9d58;
  --shadow-grey: rgb(165, 165, 165);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

h3 {
  font-size: 24px;
  line-height: 2;
}

p {
  font-size: 16px;
  line-height: 2;
}

.bg1 {
  position: fixed;
  top: 20%;
  right: -15%;
  width: 30%;
  opacity: 0.1;
  z-index: -1;
}

.bg2 {
  position: fixed;
  top: 20%;
  left: -15%;
  width: 30%;
  opacity: 0.1;
  z-index: -1;
}

.lead {
  max-width: 80%;
  margin: 3vh auto;
  position: relative;
}

/* .lead::after {
  content: "";
  background: url("./Backgrounds/BG_1.png");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */

.lead div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead div img {
  border: 4px solid var(--blue);
  border-radius: 50%;
  outline: none;
}

.others {
  width: 90%;
  margin: 0 auto;
}

.others div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cluster {
  margin: 5vh 0;
}

.cluster section {
  width: 60%;
  height: 10vh;
  border-radius: 50px;
  box-shadow: 0 0 40px var(--shadow-grey);
  transition: 0.4s ease-in;
  position: relative;
}
/*
.cluster h3 {
  display: none;
} */

.cluster section h3 {
  text-align: center;
  display: none;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbs {
  width: 100%;
  height: 100%;
  margin: 0 auto !important;
  max-height: 10vh;
  overflow: hidden;
  border-radius: 50px;
}

.thumbs img {
  z-index: 0;
  margin: 0.5% 10px;
  opacity: 0.3;
  border-radius: 50%;
}
.cluster img {
  width: 100px;
}

.cluster:hover > img {
  animation: shake 0.5s infinite;
}

.cluster:hover > section {
  box-shadow: 0 0 40px rgb(73, 73, 73);
}

.drawer {
  width: 100%;
  height: 500px;
  border-radius: 40px;
  box-shadow: 0 0 40px var(--shadow-grey);
  margin: 10vh auto;
  position: relative;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-3deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(3deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(3deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-3deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-3deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(3deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-3deg);
  }
}

@media only screen and (max-width: 600px) {
  .cluster img {
    display: none;
  }
  .cluster h3 {
    display: none;
  }
  .cluster section {
    width: 100%;
  }
  .cluster section h3 {
    display: block;
  }
  .cluster section img {
    display: inline;
  }
  .thumbs img {
    width: 3.7em;
  }
  .bg1,
  .bg2 {
    top: 35%;
    width: 60%;
  }
}

.red {
  background-color: var(--red);
  color: white;
}

.yellow {
  background-color: var(--yellow);
  color: white;
}

.blue {
  background-color: var(--blue);
  color: white;
}

.green {
  background-color: var(--green);
  color: white;
}
