.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  /* width: 99vw;
  height: 100vh; */
}

.modal-bg {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100vh !important; */
  z-index: 3;
}

.modal-body-wrapper {
  position: absolute;
  top: 5vh;
  bottom: 5vh;
  left: 5vw;
  right: 5vw;
}

.modal-body {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 100px rgb(54, 54, 54);
  padding: 30px;
  backdrop-filter: blur(5px);
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content {
  flex: 1 1 50%;
  max-height: 100%;
  max-width: 100%;
  min-width: 400px;
  height: fit-content;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  padding: 0 7vw;
  overflow: auto;
  margin-bottom: 6vh;
}

.poster-wrapper {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.poster {
  border-radius: 20px;
  width: 100%;
  max-width: 800px;
  box-shadow: 1px 1px 30px var(--shadow-grey);
}

@media only screen and (max-width: 700px) {
  .modal-body {
    padding: 10px;
  }
  .content {
    padding: 2vh 2vw;
  }
}

@media only screen and (max-width: 460px) {
  .content {
    min-width: 200px;
  }
}

.other-info {
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.other-info > span {
  font-weight: 900;
}

.close {
  position: absolute;
  top: -1px;
  right: 0px;
  color: white;
  background-color: red;
  border-radius: 40%;
  width: 2rem;
  height: 2rem;
  border: 0;
  font-weight: 900;
  font-size: 1.1rem;
  padding: 5px;
}

.close:hover {
  cursor: pointer;
}

.red-text {
  color: var(--red);
}
.green-text {
  color: var(--green);
}
.yellow-text {
  color: var(--yellow);
}
